



.grid {
	width: 100px;
	height: 100px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: #000000;



}

.grid .cell{
	float: left;
	width: 10px;
	height: 10px;
	background-color: rgb(255,0,0);
	display: inline-block;


}

.grid .row{
	
	width: auto;
	height: 10px;
}



