
html{
	background-color: #0074D9;
}


.grid {
	width: 100px;
	height: 100px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: #000000;
    padding: 10px;



}

.grid .cell{
	float: left;
	width: 10px;
	height: 10px;
	background-color: #3B653D;
	display: inline-block;


}

.grid .row{
	
	width: auto;
	height: 10px;
}



.button{
	height: 50px;
	width: 100px;
	margin: 0 auto;
	margin-top: 10px;
	vertical-align: top;
	padding: 10px;
	background-color: rgb(0,0,0);
	border-color: #AAAAAA;
}

.center-buttons{
	text-align: center;
	display: block;
}

a{
	color: #FFF;
}